@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url(../fonts/IBMPlexSans-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url(../fonts/IBMPlexSans-Light.woff2) format(woff2);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url(../fonts/IBMPlexSans-SemiBold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url(../fonts/IBMPlexSans-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root{
    --font: 'IBM Plex Sans Regular', sans-serif;
    
    --bg-color: #FFFFFF;
    --header-bg-color: #2d61c4;
    --block-bg-color: #42a4f557;
    --text-color: #37474F;
    --link-color: #37474F;
    --link-hover-color: #FFFFFF;
    --border-block-color: #cedae6;
}